{# cookies_consent/templates/cookies-consent-list.html.twig #}
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Functional Cookies</th>
      <th>Analytics Cookies</th>
      <th>Performance Cookies</th>
      <th>Advertising Cookies</th>
      <th>Consent Date</th>
      <th>Expiration Date</th>
    </tr>
  </thead>
  <tbody>
    {% for consent in consents %}
      <tr>
        <td>{{ consent.id }}</td>
        <td>{{ consent.isFunctionalCookiesAvailable }}</td>
        <td>{{ consent.isAnalyticsCookiesAvailable }}</td>
        <td>{{ consent.isPerformanceCookiesAvailable }}</td>
        <td>{{ consent.isAdvertisingCookiesAvailable }}</td>
        <td>{{ consent.consentDate }}</td>
        <td>{{ consent.expirationDate }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>